[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.jar
*.class
/nbproject/private/
/nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/.vs
Plugin/Account/nbproject/
